invoke==0.11.1
PyInstaller==3.0
requests==2.8.1
iso8601==0.1.11
furl==0.4.8
colorlog==2.6.0
appdirs==1.4.0
aiohttp==0.18.3
SQLAlchemy==1.0.9
watchdog==0.8.3

git+https://github.com/erikrose/blessings.git@blessed-integration